name: Sync labels

on:
  push:
    branches:
    - main
    paths:
    - .github/labels.yaml
  workflow_dispatch: {}

jobs:
  sync-labels:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Sync labels
      uses: crazy-max/ghaction-github-labeler@v3
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        yaml-file: .github/labels.yaml
        skip-delete: false
        dry-run: false
        # exclude: |
